{% extends 'base.html' %}

{% block title %}
    {% if requests_new %}
        ({{ requests_new }}) Requests
    {% else %}
        Requests
    {% endif %}
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="row">
        <h1>42 Coffee Cups Test Assignment</h1>
    </div>

    <div class="row">
        <h2 id="requestsHeader">({{ requests_new }}) Requests</h2>
            <table class="table table-striped">
                <tr>
                    <th>
                        Http request
                    </th>
                    <th>
                        Remote address
                    </th>
                    <th>
                        Date/time
                    </th>
                    <th>
                        Priority
                    </th>
                </tr>
                <tbody id="requestsContainer">
                    {% for object in object_list %}
                        {% if not object.viewed %}
                            <tr class="bold-font">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td>{{ object.http_request }}</td>
                            <td>{{ object.remote_addr }}</td>
                            <td>{{ object.date_time }}</td>
                            <td>{{ object.priority }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

    <a href="{% url 'home' %}">home</a>

{% endblock %}